/.vscode
/auto.py
/belxml
/biodata.txt
/contoh.py
/file-io
/fungsi.py
/gameku
/geckodriver.log
/grgrg.py
/MWIetQRcd.png
/MyQRCode2.png
/onlinexamination
/petkodnyoba.py
/QRCode.py
/Simple Project
/tapgr.py
/webistesederhana.py